<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Enter the Contest details </h1>
    <form  method="POST" action="/contestdetails">
      <label for="cname">Name of Contest</label><br>
      <input type="text" id="cname" name="cname"><br>
      <label for="pcount">Number of problems</label><br>
      <input type="number" id="pcount" name="pcount"><br>
  <label for="p1">Name of Problem1</label><br>
  <input type="text" id="p1" name="p1"><br>
  <label for="p2">Name of Problem2</label><br>
  <input type="text" id="p2" name="p2"><br>
  <label for="p3">Name of Problem3</label><br>
  <input type="text" id="p3" name="p3"><br>


  <input type="submit" value="Submit">
</form>


  </body>
</html>
