<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>



    <div class="jumbotron jumbotron-fluid">
      <h1><%=message %> </h1>
    </div>


    <a href="/contestdetails">Contest Details</a>
    </br></br>

    <a href="/usersubmission">Create a User</a>
  </br></br>

  <a href="/leaderboard">LeaderBoard</a>
</br></br>




  </body>
</html>
