<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Enter the user details </h1>
    <form  method="POST" action="/usersubmission">
  <label for="fname">Name</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="handle">User Handle</label><br>
  <input type="text" id="handle" name="handle"><br>

  <label for="p1">Marks for Problem1</label><br>
  <input type="number" id="p1" name="p1"><br>
  <label for="p2">Marks for Problem2</label><br>
  <input type="number" id="p2" name="p2"><br>
  <label for="p3">Marks for Problem3</label><br>
  <input type="number" id="p3" name="p3"><br>

  <input type="submit" value="Submit"><br>
</form>


  </body>
</html>
