<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Enter the username </h1>
    <form  method="POST" action="/usersubmission">
  <label for="fname">Name</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="subcount">Enter the updated questions count</label><br>
  <input type="number" id="subcount" name="subcount">

  <input type="submit" value="Submit">
</form>


  </body>
</html>
